@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

@media (max-width: 600px) {
    * {
        zoom: .994;
    }
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

.container {
    max-width: 1100px;
    margin: 0px auto;
    overflow: auto;
    min-height: 300px;
}

.amcBtnContainer {
    display: inline-block;
    width: 100%;
    margin-top: 10px;

    button {
        color: red;
        font-size: 14px;
        padding: 4px 8px;
        border-radius: 5px;
        border: 1px solid darkgray;
        background-color: white;
        float: right;
        margin-right: 3px;
    }
}

.amcOverlay {
    background-color: rgba(black, 0.7) !important;
}

.amcModal {
    padding: 0 !important;
    margin: 10px 6px !important;
    background-color: transparent !important;
    overflow: hidden !important;
    height: 95%;

    @media (max-width: 600px) {
        >* {
            zoom: 0.95;
        }
    }

    .movies {
        margin-top: 35px;
        overflow: scroll;
        height: 95%;
    }

    .amcModalLabel {
        position: fixed;
        top: -18px;
        color: white;
        font-size: 18px;
        background-color: #f50127;
        padding: 0px 10px;
        border-radius: 5px;
        margin-left: 5px;
    }

    .closeModalBtn {
        color: white;
        font-size: 18px;
        margin: -15px;
        padding: 5px 15px 5px 35px;
    }
}

::-webkit-scrollbar {
    display: none;
}