.movieCard {
    display: grid;
    grid-template-columns: auto auto;
    border-radius: 10px;
    background-color: #f4f4f4;
    margin: 5px 0px;
}

.posterContainer {
    align-items: center;
    justify-content: center;

    img {
        max-height: 200px;
        max-width: 135px;
        vertical-align: middle;
        border-radius: 10px;
    }
}

.infoContainer {
    padding-left: 8px;
}

.titleRow {
    a {
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        color: black;
    }
}

.rating {
    border: solid 1px lightgrey;
    padding: 0px 4px;
}

.metaDataRow>span:not(:first-of-type):before {
    content: " ‧ ";
}

.scoresRow {
    vertical-align: top;
    height: 30px;

    * {
        vertical-align: middle;
    }

    .tomatoLogo {
        width: 30px;
        height: 30px;
    }

    .imdbLogo {
        width: 40px;
        height: 22px;
        padding-left: 25%;
    }

    .score {
        padding-left: 8px;
        display: inline-block;
        font-size: 15px;
        font-weight: bold;
    }
}