.movieCard {
  display: grid;
  grid-template-columns: auto auto;

  border-radius: 10px;
  background-color: #f4f4f4;
  margin: 5px 0px;
}

.imgContainer {
  align-items: center;
  justify-content: center;
}

.infoContainer {
  padding-left: 8px;
}

.movieImg {
  max-height: 200px;
  max-width: 135px;
  vertical-align: middle;
  border-radius: 10px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.titleRow {
}

.movieRating {
  border: solid 1px lightgrey;
  padding: 0px 4px;
}

.metaDataRow > span:not(:first-of-type):before {
  content: " ‧ ";
}

.ratingsRow {
  vertical-align: top; 
  height: 40px;
}